# Pandas

In [3]:
import pandas as pd
import numpy as np

In [4]:
# reading data in csv(comma separeated files)

df = pd.read_csv('olympics.csv',skiprows=4)

df.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29216 entries, 0 to 29215
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          29216 non-null  object
 1   Edition       29216 non-null  int64
 2   Sport         29216 non-null  object
 3   Discipline    29216 non-null  object
 4   Athlete       29216 non-null  object
 5   NOC           29216 non-null  object
 6   Gender        29216 non-null  object
 7   Event         29216 non-null  object
 8   Event_gender  29216 non-null  object
 9   Medal         29216 non-null  object
dtypes: int64(1), object(9)
memory usage: 2.2+ MB

In [7]:
# checking the size of the columns and rows 
df.shape[0]

29216

In [9]:
df.Sport.value_counts().tail()

Sport
Croquet              8
Water Motorsports    5
Basque Pelota        4
Jeu de paume         3
Roque                3
Name: count, dtype: int64

In [45]:
# using boolean to find results

df_men = df[(df.Medal == 'Bronze') & (df.Gender == 'Men')]

df_men['City'].value_counts()

City
Los Angeles              514
London                   442
Athens                   416
Paris                    406
Barcelona                391
Beijing                  391
Sydney                   386
Atlanta                  374
Seoul                    352
Antwerp                  341
Munich                   336
Moscow                   328
Montreal                 321
Tokyo                    282
Mexico                   281
Stockholm                274
Berlin                   254
Rome                     254
Helsinki                 253
Melbourne / Stockholm    248
Amsterdam                210
St Louis                 121
Name: count, dtype: int64

In [49]:
# Uisng Strings to find something

df[(df.Athlete.str.contains('Florence') & (df.Medal == 'Gold'))]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
1843,London,1908,Skating,Figure skating,"SYERS, Florence",GBR,Women,individual,W,Gold
18287,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,100m,W,Gold
18305,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,200m,W,Gold
18347,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,4x100m relay,W,Gold

In [11]:
# At which event did jesse Owens win medal
df[df.Athlete.str.contains('OWENS, Jesse')]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
6427,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,100m,M,Gold
6439,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,200m,M,Gold
6456,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,4x100m relay,M,Gold
6523,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,long jump,M,Gold

In [30]:
best_city = df[(df.Medal == 'Gold') & (df.Discipline == 'Athletics')]

best_city.City.value_counts()

City
Los Angeles              91
Athens                   74
London                   74
Paris                    70
Barcelona                61
Atlanta                  60
Beijing                  59
Sydney                   56
Seoul                    54
Munich                   50
Moscow                   50
Montreal                 49
Tokyo                    45
Mexico                   45
Stockholm                44
Rome                     43
Helsinki                 42
Melbourne / Stockholm    42
Antwerp                  39
Berlin                   38
Amsterdam                36
St Louis                 29
Name: count, dtype: int64